<!-- Insert header.html -->
{% include "header.html" %}
<!-- Centered div with white text -->
<div style="color: #ffffff; text-align: center;">
    <h1>About</h1>
    <p>
       
        Large Language Models (LLMs) have been highly researched and remarked over their ability to "understand" natural language and handle complex questions in varieties of fields.
        However, such models tend to generalize and produce a generic answer that minimizes bias.
        Here, we want to take advantage of the open-source LLAMA language model's ability to adapt to a specific task given few examples to mimic this capstone team's personal language patterns. 
    </p>
    <h1>Source</h1>
    <p>
        The source code for this project can be found on <a href="" style="color: #6e1870; text-decoration: none;">GitHub</a>.
    </p>
</div>
</body>
</html>