<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DiscordGPT</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #1a001c;">
    <header style="background-color: #2f0631; display: flex; justify-content: space-between; padding: 20px; color: #ffffff">
        <h1 style="margin: 0;">DiscordGPT</h1>
        <nav>
            <ul style="list-style-type: none; margin: 0; padding: 0;">
                <li style="display: inline; margin-right: 20px;">
                    <a href="/" style=" color: #ffffff; display: inline-block; padding: 8px 12px; text-decoration: none;">Run</a>
                </li>
                <li style="display: inline; margin-right: 0;">
                    <a href="/about" style="color: #ffffff; display: inline-block; padding: 8px 12px; text-decoration: none;">About</a>
                </li>
                
            </ul>
        </nav>
    </header>